*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

header{
    height: 584px;
    background-color: lightblue;
}

header .topbar{
    height: 80px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumbotron{
    height: 500px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}  